# Development Profile - Local development
spring:
  config:
    activate:
      on-profile: dev

  kafka:
    bootstrap-servers: localhost:9092

  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:postgresql://localhost:5432/winvestco_market_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    root: INFO
    in.winvestco: DEBUG
    io.github.resilience4j: DEBUG

server:
  port: 8084
