server:
  port: 8761

eureka:
  instance:
    hostname: localhost
    appname: eureka-server
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 1000
    wait-time-in-ms-when-sync-empty: 0
    response-cache-update-interval-ms: 30000

spring:
  application:
    name: eureka-server
  
  # Virtual Threads (Java 21+)
  threads:
    virtual:
      enabled: true
      
  cloud:
    config:
      enabled: false

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  health:
    eureka:
      enabled: true
