apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: winvestco
spec:
  template:
    spec:
      containers:
        - name: api-gateway
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trade-service
  namespace: winvestco
spec:
  template:
    spec:
      containers:
        - name: trade-service
          resources:
            requests:
              memory: "2Gi"
              cpu: "1000m"
            limits:
              memory: "4Gi"
              cpu: "2000m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: market-service
  namespace: winvestco
spec:
  template:
    spec:
      containers:
        - name: market-service
          resources:
            requests:
              memory: "2Gi"
              cpu: "1000m"
            limits:
              memory: "4Gi"
              cpu: "2000m"
